body{
    background-image: url(../Imagens/Estradaa.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;  
    background-color: rgb(87,87,87);
}
header{
    float: top;
    background-color: rgb(87,87,87);
    margin: 0px;
    height: 100px;
    width: 75%;
    padding-left: 25%;
    position: absolute;
    left: 0px;
    top: 0px;
    }

#logo{
    position: absolute;
    left: 22%;
    top: 15px;
    }

header nav {
    padding-top: 10px;
    margin: 0px;
    }
nav h1{
    font-family: sans-serif;
    position: absolute;
    left: 45%;
    color: red;
}
.form{
    height: 65%;
    width: 35%;
    border: 2px;
    border-style: solid;
    border-color: black;
    position: absolute;
    top: 150px;
    left: 30%;
    padding: 50px 0px 0px 7.5%;
    background-color: rgb(87,87,87);
    border-radius: 15px;
    color: white;
    font-family: candara;
}
label{
    display: inline-block;
    width: 150px;
}

footer{
    float: top;
    background-color: rgb(87,87,87);
    margin: 0px;
    height: 8%;
    width: 75%;
    padding-left: 25%;
    position: absolute;
    left: 0%;
    top: 100%;
    font-family: candara;
    }

footer p{
    display: inline;
    padding: 5px 5px 5px;
    list-style: none;
    text-align: center;
    }
footer p a{
    text-decoration: none;
    color: white;
}
