body{
    background-image: url(../Imagens/Estradaa.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;  
    background-color: rgb(87,87,87);
}
header{
    float: top;
    background-color: rgb(87,87,87);
    margin: 0px;
    height: 100px;
    width: 75%;
    padding-left: 25%;
    position: absolute;
    left: 0px;
    top: 0px;
} 
#logo{
    position: absolute;
    left: 22%;
    top: 15px;
}
header nav {
    padding-top: 10px;
    margin: 0px;
}
nav ul li{
    margin: 0px;
    font-size: 25px;
    padding: 10px 10px 10px 10px 10px;
    display: inline;
    list-style: none;
    border-radius: 2px; 
    border: 2px solid;
    background-color: rgb(50,50,50);
    text-align: center;
    font-family: arial;
    width: 50px;
}
nav ul li a{
    margin: 0px;
    text-decoration: none;
    color: rgb(254,2,43);
    width: 50px;
}   
nav ul{
    margin: 0px 10px 0px 50px;
}
figure a{
    margin-right: 100px;
}
.topvendas{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid;
    background-color: gray;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
}
.topvendas p a{
    text-decoration: none;
    color: white;
}
.topvendas p a:link, a:visited {
	text-decoration: none
}
.topvendas p a:hover {
	text-decoration: none; 
	color: #f00
}
.topvendas p a:active {
	text-decoration: none
}
section{
    position: absolute;
    left: 15%;
    top: 35%;
    padding: 40px 30px;
}
.tops{
    text-align: center;
    position: absolute;
    left: 45%;
    top: 100px;
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
    color: white;
    background-color: red;
    font-size: 50px;
}
.topdelinha{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid;
    background-color: gray;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
}
.topdelinha p a{
    text-decoration: none;
    color: white;
}
.topdelinha p a:link, a:visited {
	text-decoration: none
}
.topdelinha p a:hover {
	text-decoration: none; 
	color: #f00
}
.topdelinha p a:active {
	text-decoration: none
}
.topmaisrapido{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid;
    background-color: gray;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 10px;
}
.topmaisrapido p a{
    text-decoration: none;
    color: white;
}
.topmaisrapido p a:link, a:visited {
	text-decoration: none
}
.topmaisrapido p a:hover {
	text-decoration: none; 
	color: #f00
}
.topmaisrapido p a:active {
	text-decoration: none
}
.topmaisforte{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid;
    background-color: gray;
    text-align: center;
    position: absolute;
    left: 750px;
    top: 10px;
}
.topmaisforte p a{
    text-decoration: none;
    color: white;
}
.topmaisforte p a:link, a:visited {
	text-decoration: none
}
.topmaisforte p a:hover {
	text-decoration: none; 
	color: #f00
}
.topmaisforte p a:active {
	text-decoration: none
}
.topvendas h3{
    font-family: birch std;
}
.topdelinha h3{
    font-family: birch std; 
}
.topmaisrapido h3{
    font-family: birch std;
}
.topmaisforte h3{
    font-family: birch std;
}
article.form{
    height: 65%;
    width: 50%;
    border: 2px;
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 50px 0px 0px 7.5%;
    color: white;
    font-family: candara;
}
#comentario{
    width: 75%;
    height: 15%;
}
footer{
    float: top;
    background-color: rgb(87,87,87);
    margin: 0px;
    height: 8%;
    width: 75%;
    padding-left: 25%;
    position: absolute;
    left: 0%;
    top: 200%;
    font-family: candara;
}
footer p{
    display: inline;
    padding: 5px 5px 5px;
    list-style: none;
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: white;
}