body{
        background-image: url(Estradaa.jpg);
        background-size: 100% ;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        background-color: rgb(87,87,87);
    }
   header{
        float: top;
        background-color: rgb(87,87,87);
        margin: 0px;
        height: 100px;
        width: 75%;
        padding-left: 25%;
        position: absolute;
        left: 0px;
        top: 0px;
        
    } 
    #logo{
         position: absolute;
        left: 22%;
        top: 15px;
    }
    header nav {
        padding-top: 10px;
        margin: 0px;
        
    }
    nav ul li{
        margin: 0px;
        font-size: 25px;
        padding: 10px 10px 10px 10px 10px;
        display: inline;
        list-style: none;
        border-radius: 2px; 
        border: 2px solid;
        background-color: rgb(50,50,50);
        text-align: center;
        font-family: arial;
        width: 50px;
    }
    nav ul li a{
        margin: 0px;
        text-decoration: none;
        color: rgb(254,2,43);
        width: 50px;
    }   
    nav ul{
    margin: 0px 10px 0px 50px;
    }
    figure a{
    margin-right: 100px;
    }
        
        
    form{
        border:2px;
        border-style: solid;
        position: absolute;
        border-color: black;
        left: 15%;
        top:200px;
        padding: 10px;
        background-color: rgb(254,2,43);
         }
    article{
        position: absolute;
        right: 40%;
        top: 250px;
        text-align: justify;
        }
    article p {
        margin: 20px;   
        }
    article h1 {
        color:#fff;
        padding: 25px;  
        }
    .carros{
        border-color: black;
        background-color: rgb(254,2,43);
        border-radius: 2px;
        border: 2px solid;
        left: 15%;
        top: 35%;    
        }
        
    aside h1{            
        text-decoration: underline;
        background-color: rgb(87,87,87);
        margin: 10px;
        text-align: center;
        list-style: none;
        border:2px;
        border-style: double;
        position: absolute;
        top:78px;
        float: right;
        width: 160px;
        height: 125px;
        font-family:serif;        
        }
    footer{
        float: top;
        background-color: rgb(87,87,87);
        margin: 0px;
        height: 8%;
        width: 75%;
        padding-left: 25%;
        position: absolute;
        left: 0%;
        top: 200%;
        font-family: candara;
        }
    footer p{
        display: inline;
        padding: 5px 5px 5px;
        list-style: none;
        text-align: center;
        }
    footer p a{
        text-decoration: none;
        color: white;
        }